.DS_Store
build-*/
*.swp
*.swo
*~
tags
TAGS
local.mk
*.orig
cscope.*
doit
t
blk.bin
*.dSYM
scripts/toolpaths.local
compile_commands.json
.vscode
*_BACKUP_*
*_REMOTE_*
*_LOCAL_*
*_BASE_*
*.sublime-*
/benchmarks/
/infra/.recipe_deps
/out*
/AnalysisResult/
.idea/
CMakeLists.txt
cmake-build-debug/
/prebuilt/
